.header {
    padding: 20px 0;
    border-bottom: 2px solid gray;
}

.headerDiv {
    /* background-color: rgb(108, 108, 216); */
    width: 15%;
    margin: 0 auto;
}

.txt-bold {
    font-weight: 600;
    font-size: 35px;
}

.txt-blue {
    color: #3fcfdf;
    font-size: 30px;
}

.search {
    margin: 20px auto;
    width: 400px;
    display: flex;
    padding: 0 8px;
    border-radius: 5px;
    border: 2px solid rgb(203, 194, 194);
}

.icon {
    width: 20px;
    margin-right: 5px;
}

.input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0;
    border-radius: 5px;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ullist {
    background-color: rgb(113, 110, 110);
    width: 450px;
    margin: 0 auto;
    padding: 8px 15px;
    border-radius: 5px;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.span1 {
    color: white;
}

.span2 {
    color: white;
}